st*.font: MesloLGS NF:pixelsize=18:antialias=true:autohint=true;
st*.alpha: 0.9
xterm*faceSize: 14
XTerm*background:  #000000
XTerm*foreground:  #9f9f9f
XTerm*color0:      #000000
XTerm*color1:      #9e1828
XTerm*color2:      #aece92
XTerm*color3:      #968a38
XTerm*color4:      #414171
XTerm*color5:      #963c59
XTerm*color6:      #418179
XTerm*color7:      #bebebe
XTerm*color8:      #666666
XTerm*color9:      #cf6171
XTerm*color10:     #c5f779
XTerm*color11:     #fff796
XTerm*color12:     #4186be
XTerm*color13:     #cf9ebe
XTerm*color14:     #71bebe
XTerm*color15:     #ffffff
st*background:  #000000
st*foreground:  #9f9f9f
st*color0:      #000000
st*color1:      #9e1828
st*color2:      #aece92
st*color3:      #968a38
st*color4:      #414171
st*color5:      #963c59
st*color6:      #418179
st*color7:      #bebebe
st*color8:      #666666
st*color9:      #cf6171
st*color10:     #c5f779
st*color11:     #fff796
st*color12:     #4186be
st*color13:     #cf9ebe
st*color14:     #71bebe
st*color15:     #ffffff
